<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Knights List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript"
            src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body>

<div class="container">

    <h1>Knights </h1>
    <table class="table">
        <thead>
        <tr>
            <td>The name of a knight</td>
            <td>Age</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="knight : ${knights}">
            <td th:text="${knight.name}"></td>
            <td th:text="${knight.age}"></td>

        </tr>
        </tbody>
    </table>
    <div class="row">
        <a href="/newknight">Recruit a new knight</a>
    </div>

</div>
</body>
</html>