<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Knights List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript"
            src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body>

<div class="container">

    <h1>Knights </h1>

    Gold: <span th:text=" ${playerInformation.gold}"/>
    <a th:href="${'/checkQuests'}">Update the quest</a>

    <table class="table">
        <thead>
        <tr>
            <td>The name of a knight</td>
            <td>Level</td>
            <td>Quest</td>
            <td></td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="knight : ${knights}">
            <td th:text="${knight.name}"></td>
            <td th:text="${knight.level}"></td>
            <td>
                <span th:if="${knight.quest == null}">Currently no quest<a th:href="${'/assignQuest?knightId='+knight.id}"> Assign a quest</a></span>
                <span th:if="${knight.quest!=null}" th:text="${knight.quest.description}"/>
            </td>
            <td><a th:href="${'/knight?id='+knight.id}">Preview</a></td>
            <td><a th:href="${'/knight/delete/'+knight.id}">Delete</a></td>

        </tr>
        </tbody>
    </table>
    <div class="row">
        <a href="/newknight">Recruit a new knight</a>
    </div>

</div>
</body>
</html>